# Sockets config (ViteJS STAGING mode - Docker PROD mode)
NODE_ENV=production

UI_VERSION=0.1.1
API_VERSION=0.1.1

# Sockets config (ViteJS Docker PROD mode)
VITE_API_URL=http://localhost
VITE_API_PORT=3000

# MongoDB Atlas config
DB_CONNECTION=mongodb+srv
DB_PORT=27017
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_PARAMS=?retryWrites=true&w=majority
DB_HOST=${DB_USER}:${DB_PASSWORD}@

# SonarQube config
SONAR_UI_URL=http://localhost:${SONAR_UI_PORT}
SONAR_UI_PORT=9000
SONAR_UI_LOGIN=
SONAR_UI_KEY=ui-thunder-link