version: '3'

services:
  ui:
    container_name: app-ui
    image: 'ivaantorres/real-time-chat-app:0.1'
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - VITE_API_PORT=
    ports:
      - '80:80'

  api:
    container_name: app-api
    image: 'ivaantorres/api-real-time-chat-app:0.1'
    environment:
    # Change to MongoDB Atlas config
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - PORT=3000
    ports:
      - '3000:3000'

  mongodb:
    container_name: mongo
    image: 'mongo:5.0.6'
    ports:
      - '27017:27017'
    volumes:
      - '/c/data/db:/data/db'
    logging:
      driver: none

  sonarqube:
    container_name: sonarqube
    image: 'sonarqube:lts-community'
    ports:
      - '${SONAR_UI_PORT}:9000'
      - '9002:9002'
    volumes:
      - '/c/Users/Iv치n/Desktop/sonarqube/data:/opt/sonarqube/data'
      - '/c/Users/Iv치n/Desktop/sonarqube/conf:/opt/sonarqube/conf'
      - '/c/Users/Iv치n/Desktop/sonarqube/logs:/opt/sonarqube/logs'
      - '/c/Users/Iv치n/Desktop/sonarqube/extensions:/opt/sonarqube/extensions'
    logging:
      driver: none